<main class="background d-flex flex-column">
  <!-- Header -->
  <div class="header d-flex align-items-center">
    <img src="https://png.pngtree.com/element_our/png_detail/20181227/movie-icon-which-is-designed-for-all-application-purpose-new-png_287896.jpg" alt="Catálogo de Películas">
    <h1 class="ms-3">Catálogo de Películas</h1>
</div>
  <div class="flex-grow-1 positio-relative"><router-outlet></router-outlet></div>
  <!-- Footer -->
  <div class="footer">
    <p>Materia: Conceptualización de servicios en la nube | Nombre: Paulo Antonio | Código: 217132237</p>
    <p>Contacto: chamgo123&#64;outlook.com</p>
  </div>

</main>