<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="--bs-bg-opacity: .8;">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a [routerLink]="['/movies']" class="btn btn-primary text-nowrap">Catálogo</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="container mt-4 bg-dark text-light px-4 py-3 rounded-4" style="--bs-bg-opacity: .8;">
            <h1>Bienvenido al Catálogo de Películas</h1>
            <p class="lead fw-bold">Este es un catalogo de pelculas que recominedo, si llegas a tener alguna recomendacion puedes ponerla en el boton de agregar al igual que editar las que ya estan :D.</p>
        </div>
    </div>
</div>