<div class="card top-50 start-50 position-absolute translate-middle" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">{{movie.title}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{movie.year}}</h6>
    <p class="card-text">{{movie.synopsis}}</p>
    <a [routerLink]="['/movies']" class="btn btn-primary text-nowrap">Regresar</a>
    </div>
</div>

<div>  <a href="https://www.twitch.tv/chamgo123/clip/GrotesqueUnsightlyBottleRaccAttack-aVWR5WUBHgkeTlkY" class="video-link">Ver video destacado</a>

</div>
